// variables go here

$bucksGreen: #036635;  // header & footer background colour

$textGreen: #034926;  // form text and border colour, darker for accessibility

$bucksWhite: #f3f3f3;  // colour of h1, footer .copyright text and neutral background 

$bucksBrown: #ad8762;  // background colour to evoke image of a coffee sleeve 

$formBackground: #E3D6CF;  // form background colour, lighter for accessibility


// import other .scss files here

@import "setup";  // contains setup code snippet
@import "form";  // contains form styles 


// stripping styles go here

h1,
fieldset,
p {
    margin: 0;
    padding: 0;
}


// base styles go here

html {
    font-size: 62.5%;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    color: $bucksWhite;

    background: $bucksWhite;
}

.wrapper {
    width: 60%;
    max-width: 1100px;
    margin: 0 auto;
}

// to control image dimensions
img {
    width: 100%;
}

header,
footer {
    background: $bucksGreen;
}

h1,
.copyright {
    text-align: center;
}

// class that turns the element it's applied to
// into a flex parent that centers its descendents
// and puts space between them
.flexParent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}


// styles for header elements go here

header {
    height: 101px;
}

// this class contains the spinning cup .png
.logo {
    width: 150px;
    height: 150px;
    border-radius: 50%;

    position: absolute;
    top: 15px;
    left: 15px;

    background: $bucksBrown;

    img {
        position: relative;
        top: 10px;

        // this hides a bit of additional content
        clip-path: inset(0 0 18px 0);
    }

}

// Continuous rotation solution provided by
// Kirk Strobeck on Stackoverflow
@-webkit-keyframes {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

// this class applies rotation to the logo
.rotates {
  -webkit-animation: rotating 8s linear infinite;
  -moz-animation: rotating 8s linear infinite;
  -ms-animation: rotating 8s linear infinite;
  -o-animation: rotating 8s linear infinite;
  animation: rotating 8s linear infinite;
}


h1 {
    font-size: 8.0rem;
    text-transform: uppercase;
    letter-spacing: 1.9px;
}


// styles for main elements go here

main {
    height: 633px;
    text-align: center;

    // makes it look like a cup with a collar!
    background: linear-gradient(to bottom, $bucksWhite 0%, $bucksWhite 30%, $bucksBrown 30%, $bucksBrown 70%, $bucksWhite 70%, $bucksWhite 100%);
}


// styles for footer elements go here

footer {
    height: 43px;

    padding: 5px;
    
    .copyright {
        font-weight: 400;
        font-size: 2.6rem;
    }
}

// general media queries go here
// please find form-specific media queries 
// in _form.scss

@media (max-width: 814px) {
  
    .wrapper {
        width: 90%;
        max-width: 814px;
        margin: 0 auto;
    }

    .logo {
        width: 80px;
        height: 80px; 
    }

    h1 {
        padding-top: 20px;
        font-size: 5.0rem;
    }

} // @media (max-width: 814px)

@media (max-width: 512px) {

    h1 {
        text-align: right;
    }

} // @media (max-width: 512px)

@media (max-width: 436px) {

    .wrapper {
        width: 98%;
        max-width: 436px;
        margin: 0 auto;
    }

    h1 {
        font-size: 4.5rem;
        text-align: center;
    }

    .logo {
        top: 108px;
        left: 15px;
    }

    main {
      height: 740px;
    }

} // @media (max-width: 436px)



